<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Laugh Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="funny-content">
    <img src="assets/images/funny-image.png" alt="Funny Image" class="funny-image">
    <h1 class="funny-title">Welcome to the Funny Page!</h1>
    <p class="funny-message">Get ready to laugh and have a great time exploring this page.</p>
    <a routerLink="/page1" class="funny-button">Let's Go!</a>
  </div>

</ion-content>
