<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 
      Fun Facts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Fan Facts</h1>

  <ion-list>
    <ion-item *ngFor="let fact of facts">
      <!-- Display the fact content here -->
    </ion-item>
  </ion-list>

  <a routerLink="/home">Go to Home LOL app</a>
  <a routerLink="/page2">Go to next page</a>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page1</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
